body{
	background: #333;
	font-family: Arial;
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

input, button, div, textarea {
	box-sizing: border-box;
}

a{
	text-decoration: none;
}
button{
	border: 0;
	margin: 0;
	padding: 0;
}

.form {
	max-width: 550px;
	margin: 0 auto;
	color: #fff;
	padding: 30px 20px;
}
.form *{
	outline: none;
}
.form__body {
	position: relative;
	padding-bottom: 5px;
}
.form__body::after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(51,51,51,0.9) url("../img/loading.gif") center/50px no-repeat;
	opacity: 0;
	visibility: hidden;
	transition: all 0.7s ease 0s;
}

.form__body._sending::after{
	opacity: 1;
	visibility: visible;
}

.form__title {
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 30px;
}
.form__item {
	margin-bottom: 20px;
}
.form__label {
	font-size: 18px;
	display: block;
	margin-bottom: 10px;
}
.form__input {
	height: 50px;
	padding: 0 20px;
	border-radius: 5px;
	width: 100%;
	font-size: 18px;
	transition: all 0.5s ease 0s;
}
.form__input._error{
	box-shadow: 0 0 15px #ff0000;
}

.form__input:focus {
	box-shadow: 0 0 15px #A0A0A0;
}

textarea.form__input{
	min-height: 120px;
	resize: vertical;
	padding: 20px;
}
.form__label {}
.options {
	padding-top: 10px;
}
.options__item {
	margin-bottom: 10px;
}
.options__input {
	display: none;
}
.options__input:checked + .options__label::after{
	transform: scale(1);
}
.options__label {
	display: inline-flex;
	font-size: 16px;
	line-height: 140%;
	align-items: center;
	position: relative;
	cursor: pointer;
}
.options__label::before{
	content: "";
	align-self: flex-start;
	flex: 0 0 24px;
	height: 24px;
	background-color: #fff;
	border-radius: 50%;
	margin-right: 10px;
}
.options__label::after{
	transition: transform 0.3s ease 0s; 
	content: "";
	position: absolute;
	top: 4px;
	left: 4px;
	width: 16px;
	height: 16px;
	background: #7a956b;
	border-radius: 50%;
	transform: scale(0);
}
.select {}
.file {}
.file__item {
	position: relative;
}
.file__input {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	font-size: 0;
	cursor: pointer;
}
.file__button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	min-height: 40px;
	border-radius: 30px;
	background: #77608d;
	padding: 0 20px;
}
.file__preview {
	display: inline-block;
	max-width: 150px;
	padding-top: 15px;
}
.file__preview img{
	max-width: 100%;
}
.checkbox {
}
.checkbox._error .checkbox__label::before{
	box-shadow: 0 0 15px #ff0000;
}
.checkbox__input {
	display: none;
}
.checkbox__input:checked + .checkbox__label::after{
	transform: scale(1);
}
.checkbox__label {
	font-size: 16px;
	line-height: 140%;
	display: inline-flex;
	align-items: center;
	position: relative;
	cursor: pointer;
}
.checkbox__label::before {
	content: "";
	flex: 0 0 24px;
	height: 24px;
	background: #fff;
	border-radius: 4px;
	align-self: flex-start;
	margin-right: 10px;

}
.checkbox__label::after{
	transition: transform 0.3s ease 0s;
	content: "";
	width: 16px;
	height: 16px;
	position: absolute;
	top: 4px;
	left: 4px;
	background: #7a956b;
	border-radius: 4px;
	transform: scale(0);
}
.checkbox__label a{
	color: #7a956b;
}

.form__button {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 60px;
	background-color: #7a956b;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	cursor: pointer;
	border-radius: 20px;
	box-shadow: 0 5px 0 #161b13;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: background-color 0.5s ease 0s;
	position: relative;
	top: 0;
}
.form__button:hover {
	background-color: #47553E;
}
.form__button:active {
	top: 3px;
	box-shadow: 0 2px 0 #161b13;
}
